<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot</title>
    <style>
        body {
            background-color: darkgray;
        }

        .search1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <form action="/up" method="post">
        <div class="search1">
            <h2>Website Screenshot</h2>
            <input type="text" name="search">
            <br>
            <br>
            <input type="submit">
            <br>
            <div>

            </div>
        </div>
    </form>
</body>

</html>